$buttonBackground: lighten(black, 10%);
$buttonBackgroundHover: black;

$grey: #979797;

$transitionTime: 0.6s; // время анимации для всей страницы
$workTransition: 0.2s; // время анимации только для портфолио