section.coffee.section
    .container
        h2.subtitle  Choose Your Favorite
        h1.title CHUẨN GU ĐÚNG VỊ
    .favorites
        .favorites__block
            .favorite
                .favorite__left
                    img.favorite__image(src='images/item(1).webp' alt)
                .favorite__right
                    .favorite__info
                        p.price 99.000
                        p.heading REVO Morning
                        p.text đắng, hậu ngọt, hương hoa 
                        .buttons
                            span.button MUA NGAY
                            span.link CHI TIẾT                   
            .favorite
                .favorite__left
                    img.favorite__image(src='images/item(2).webp' alt)
                .favorite__right
                    .favorite__info
                        p.price 139.000
                        p.heading REVO Origin
                        p.text hậu ngọt, ít đắng, vị chua dâu
                        .buttons
                            span.button MUA NGAY
                            span.link CHI TIẾT                                
        .favorites__block
            .favorite
                .favorite__left
                    img.favorite__image(src='images/item(1).webp' alt)
                .favorite__right
                    .favorite__info
                        p.price 85.000
                        p.heading REVO Everyday
                        p.text cân bằng, hậu đắng, vị chocolate
                        .buttons
                            span.button MUA NGAY
                            span.link CHI TIẾT
            .favorite
                .favorite__left
                    img.favorite__image(src='images/item(2).webp' alt)
                .favorite__right
                    .favorite__info
                        p.price 75.000
                        p.heading REVO Đậm Đà
                        p.text đậm đà, đắng, truyền thống
                        .buttons
                            span.button MUA NGAY
                            span.link CHI TIẾT
        .favorites__block
            .favorite
                .favorite__left
                    img.favorite__image(src='images/item(1).webp' alt)
                .favorite__right
                    .favorite__info
                        p.price 85.000
                        p.heading REVO Everyday
                        p.text cân bằng, hậu đắng, vị chocolate 
                        .buttons
                            span.button MUA NGAY
                            span.link CHI TIẾT
            .favorite
                .favorite__left
                    img.favorite__image(src='images/item(2).webp' alt)
                .favorite__right
                    .favorite__info
                        p.price 75.000
                        p.heading REVO Đậm Đà
                        p.text đậm đà, đắng, truyền thống
                        .buttons
                            span.button MUA NGAY
                            span.link CHI TIẾT