section.combo.section
	.container
		h2.subtitle Best Gift For Best Friend
		h1.title GIFTSET
		.tabs
			.tabs__links
				p.tabs__link.tabs__link-active 1
				p.tabs__link 2
				p.tabs__link 3
			.tabs__item.tabs__item-active.tabs__item-opacity
				.tabs__left
					img.tabs__image(src='images/tab.webp' alt='')
				.tabs__right
					p.price 285.000
					p.heading Giftset "Cà phê phin Việt Nam"
					p.text
						| Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.
					.tabs__info
						.tabs__info-item
							img.tabs__info-image(src='images/coffee.webp' alt='')
							div
								p.tabs__info-title Loại hạt
								p.tabs__info-subtitle Fine Robusta Blend
						.tabs__info-item
							img.tabs__info-image(src='images/mountain.webp' alt='')
							div
								p.tabs__info-title Độ cao
								p.tabs__info-subtitle 700 - 800m
					.buttons
						span.button MUA NGAY
						span.tabs__buttonLink.link CHI TIẾT
			.tabs__item
				.tabs__left
					img.tabs__image(src='images/tab.webp' alt='')
				.tabs__right
					p.price 285.000
					p.heading Giftset "Cà phê phin Việt Nam"
					p.text
						| Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.
					.tabs__info
						.tabs__info-item
							img.tabs__info-image(src='images/coffee.webp' alt='')
							div
								p.tabs__info-title Loại hạt
								p.tabs__info-subtitle Fine Robusta Blend
						.tabs__info-item
							img.tabs__info-image(src='images/mountain.webp' alt='')
							div
								p.tabs__info-title Độ cao
								p.tabs__info-subtitle 700 - 800m
					.buttons
						span.button MUA NGAY
						span.tabs__buttonLink.link CHI TIẾT
			.tabs__item
				.tabs__left
					img.tabs__image(src='images/tab.webp' alt='')
				.tabs__right
					p.price 285.000
					p.heading Giftset "Cà phê phin Việt Nam"
					p.text
						| Món quà tuyệt vời dành cho người sành cà phê. Hạt cà phê được Revo cẩn trọng chọn lựa, rang xay theo công nghệ và bí quyết học hỏi từ những nghệ nhân nổi tiếng, cùng với tình yêu, sự đam mê của người làm cà phê… tạo ra những tách cà phê tinh khiết chỉ dành riêng cho bạn.
					.tabs__info
						.tabs__info-item
							img.tabs__info-image(src='images/coffee.webp' alt='')
							div
								p.tabs__info-title Loại hạt
								p.tabs__info-subtitle Fine Robusta Blend
						.tabs__info-item
							img.tabs__info-image(src='images/mountain.webp' alt='')
							div
								p.tabs__info-title Độ cao
								p.tabs__info-subtitle 700 - 800m
					.buttons
						span.button MUA NGAY
						span.tabs__buttonLink.link CHI TIẾT
			

