section.features.section
    .container
        h2.subtitle Your Personalized Coffee
        h1.title COFFEE BUILD YOUR BASE
        .features__wrapper
            .featureItem
                img.featureItem__image(src='images/features(1).webp' alt)
                p.featureItem__heading Nguồn gốc
                p.featureItem__text Những hạt cà phê Arabica, Robusta đạt chất lượng theo tiêu chuẩn quốc tế.
            .featureItem
                img.featureItem__image(src='images/features(2).webp' alt)
                p.featureItem__heading Chất lượng
                p.featureItem__text Từng một hạt cà phê là cả một quá trình tập trung cao độ của nghệ nhân cà phê.
            .featureItem
                img.featureItem__image(src='images/features(3).webp' alt)
                p.featureItem__heading Các loại hạt
                p.featureItem__text 70% chất lượng tách cà phê đến từ nguồn gốc và chất lượng green bean.
            .featureItem
                img.featureItem__image(src='images/features(4).webp' alt)
                p.featureItem__heading Pha chế
                p.featureItem__text Những hạt cà phê được lột xác qua quá trình rang xay kỹ lưỡng và nghiêm ngặt.