section.giftset.section
    .container
        h2.subtitle Your Personalized Coffee
        h1.title COMBO PHIN PHÊ
    .shop
        .shop__wrapper
            .shop__item.shopItem
                figure.shopItem__figure
                    img.shopItem__image(src='images/item(1).webp' alt='')
                .shopItem__info
                    span.price 147.000
                    span.shopItem__oldPrice 155.000
                    p.heading Combo Revo Đậm Đà
                    p.text Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...
                    .shopItem__buttons.buttons
                        span.button MUA NGAY
                        span.link CHI TIẾT
            .shop__item.shopItem
                figure.shopItem__figure
                    img.shopItem__image(src='images/item(2).webp' alt='')
                .shopItem__info
                    span.price 156.000
                    span.shopItem__oldPrice 165.000
                    p.heading Combo Revo Everyday
                    p.text Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...
                    .shopItem__buttons.buttons
                        span.button MUA NGAY
                        span.link CHI TIẾT
            .shop__item.shopItem
                figure.shopItem__figure
                    img.shopItem__image(src='images/item(3).webp' alt='')
                .shopItem__info
                    span.price 275.000
                    span.shopItem__oldPrice 260.000
                    p.heading Combo Revo Honey
                    p.text Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...
                    .shopItem__buttons.buttons
                        span.button MUA NGAY
                        span.link CHI TIẾT
            .shop__item.shopItem
                figure.shopItem__figure
                    img.shopItem__image(src='images/item(2).webp' alt='')
                .shopItem__info
                    span.price 249.000
                    span.shopItem__oldPrice 250.000
                    p.heading Combo Revo Honey
                    p.text Hàm lượng caffein trong Revo Đậm Đà đủ mạnh để làm bạn tỉnh táo làm việc...
                    .shopItem__buttons.buttons
                        span.button MUA NGAY
                        span.link CHI TIẾT
