header.header
    .header__play.playButton
    p.header__title
        | Your 
        span.header__title-text Personalized 
        | Coffee
    .header__left
        img.header__logo(src="images/revo_logo.webp" alt)
    .header__right
        nav.header__menu.menu
            .header__cart.cart
                i.cart__image.fas.fa-shopping-cart
                span.cart__info 2
            ul.menu__list
                li.menu__item
                    a.menu__link.menu__link-active(href="#") TRANG CHỦ
                li.menu__item
                    a.menu__link(href="#") COFFEE
                li.menu__item
                    a.menu__link(href="#") PHIN MẠ MÀU
                li.menu__item
                    a.menu__link(href="#") COMBO PHIN PHÊ
                li.menu__item
                    a.menu__link(href="#") GIFTSET