.about 
{
    background-color: #fff;

    &__figure
    {
        padding: 0;
    }

    &__img
    {
        @include image;  
        margin:  0 auto;      
    }

    &__text
    {
        padding: 50px 70px;
    }
}