.gallery
{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: white;

    &__image
    {
        width: 100%;
        height: 200px;
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
    }
}