<section class="about">
	<div class="about__wrapper container">
		<div class="about__left">
			<p class="about__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet pharetra nisl. Vestibulum sollicitudin leo non purus vestibulum placerat. Curabitur ac erat sollicitudin, blandit quam vitae, rutrum diam. Aenean non gravida velit, eu consectetur neque. Nullam in volutpat massa. Duis scelerisque urna non lectus fringilla suscipit. Phasellus lacinia facilisis massa, pellentesque consectetur nunc. Nullam elit metus, condimentum nec libero quis, dapibus malesuada enim. Morbi semper condimentum pellentesque.
			</p>
			<div class="about__numbers">
				<p class="about__number">
					56<span class="about__value">Clients</span>
				</p>
				<p class="about__number">
					112<span class="about__value">Projects</span>
				</p>
				<p class="about__number">
					25<span class="about__value">Collabs</span>
				</p>
			</div>
			<img class="about__sign" src="images/sign.png" alt="">
		</div>
		<figure class="about__figure">
			<img class="about__image" src="images/about.jpg" alt="">
		</figure>
	</div>
</section>