<section class="contact">
	<div class="container">
		<div class="contact__wrapper">
			<p class="contact__title">
				So, let’s talk
			</p>
			<p class="contact__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet pharetra nisl. Vestibulum sollicitudin leo non purus vestibulum placerat. Curabitur ac erat sollicitudin, blandit quam vitae.
			</p>
		</div>
		<form action="#" class="contact__form contact-form">
			<input type="text" class="contact-form__text" placeholder="Name" required>
			<input type="text" class="contact-form__text" placeholder="E-mail" required>
			<input type="text" class="contact-form__text" placeholder="Subject" required>
			<input type="text" class="contact-form__text" placeholder="How did you hear about us?" required>
			<textarea class="contact-form__text contact-form__textarea" placeholder="Message" required></textarea>
			<input type="submit" class="contact__button button" value="Send">
		</form>
	</div>
</section>