<footer class="footer"> 
	<p class="footer__heading heading">Let’s work together</p>
	<a href="#" class="footer__button button">Get in touch</a>
	<div class="footer__socials">
		<i class="footer__icon fab fa-pinterest"></i>
		<i class="footer__icon fab fa-linkedin-in"></i>
		<i class="footer__icon fab fa-instagram"></i>
		<i class="footer__icon fab fa-facebook-f"></i>
		<i class="footer__icon fab fa-twitter"></i>
	</div>	
	<p class="footer__copyright">Copyright ©2019 All rights reserved</p>
</footer>