<section class="portfolio">
	<div class="container">
		<nav class="tags">
			<ul class="tags__list">
				<li class="tags__item"><a href="#" class="tags__link tags__link-active">All</a></li>
				<li class="tags__item"><a href="#" class="tags__link">Web design</a></li>
				<li class="tags__item"><a href="#" class="tags__link">Digital design</a></li>
				<li class="tags__item"><a href="#" class="tags__link">3D Renedering</a></li>
				<li class="tags__item"><a href="#" class="tags__link">Brand Identity</a></li>
			</ul>
		</nav>
	</div>
	<div class="portfolio__area">
		<a href="#" class="portfolio__one work work__one">
			<div class="work__inner">
				<span class="work__text">+ See Project</span>
			</div>
		</a>
		<a href="#" class="portfolio__one work work__two">
			<div class="work__inner">
				<span class="work__text">+ See Project</span>
			</div>		
		</a>
		<a href="#" class="portfolio__two work work__three">
			<div class="work__inner">
				<span class="work__text">+ See Project</span>
			</div>
		</a>
		<a href="#" class="portfolio__two work work__four">
			<div class="work__inner">
				<span class="work__text">+ See Project</span>
			</div>
		</a>
		<a href="#" class="portfolio__two work work__five">
			<div class="work__inner">
				<span class="work__text">+ See Project</span>
			</div>
		</a>
		<a href="#" class="portfolio__three work work__six">
			<div class="work__inner">
				<span class="work__text">+ See Project</span>
			</div>
		</a>
		<a href="#" class="portfolio__one work work__seven">
			<div class="work__inner">
				<span class="work__text">+ See Project</span>
			</div>
		</a>
		<a href="#" class="portfolio__one work work__eight">
			<div class="work__inner">
				<span class="work__text">+ See Project</span>
			</div>
		</a>
	</div>
</section>