.footer
{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #222222;
    position: relative;
    z-index: 1;

    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

    &__icons
    {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }
}