@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.page {
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Josefin Sans';
    padding: 20px;
}

.section {
    margin-bottom: 20px;

    &__holder {
        background-color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        font-weight: 300;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    }

    &__left {
        min-width: 400px;
        width: 40%;
        background-color: #ced4ff;
        padding: 35px;
    }

    &__right {
        width: 60%;
        background-color: white;
        padding: 35px;
    }
}

.header {
    &__author {
        font-size: 40px;
    }

    &__profession {
        font-size: 20px;
        padding-left: 2px;
    }
}

.contacts {
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;  
    }

    &__block {
        padding-left: 10px;
    }

    &__property {
        font-weight: 400;
    }

    &__value {
        font-size: 12px;
        font-weight: 300;
    }
}

.briefing {  
    &__holder {
        flex-direction: column;
        padding: 35px;
    }

    &__title {
        text-align: center;
        font-size: 22px;
        font-weight: 300;
        padding-bottom: 10px;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        padding-top: 10px;
        width: 80%;
        margin: auto;
    }
}

.about {
    &__left {
        padding-right: 0;
    }

    &__author {
        display: flex;
        align-items: center;
        padding-right: 5px;
    }

    &__figure {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 5px solid#f0f0f0;
        overflow: hidden;
    }

    &__image {
        height: 100%;
        width: 100%;
    }

    &__info {
        margin-left: 20px;
    }

    &__bold {
        font-weight: 400;
    }

    &__title {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 7px 15px;
        background-color: #576cff;
        font-size: 16px;
        text-transform: uppercase;
        color: #efefef;
    }

    &__heading {
        font-weight: 400;
    }

    &__interests {
        display: flex;
        flex-wrap: wrap;;
    }

    &__line {
        width: 50%;
        margin-bottom: 4px;
        padding-bottom: 2px;
    }

    &__skills {

    }

    &__knowledge {
        margin-bottom: 12px;
    }

    &__subject {
        font-size: 14px;
    }

    &__level {
        margin-top: 5px;
        height: 4px;
        width: 90%;
        background-color: #F0F0F0;
        position: relative;

        &-five::after {
            width: 56%;
        }

        &-six::after {
            width: 68%;
        }

        &-seven::after {
            width: 70%;
        }

        &-eight::after {
            width: 82%;
        }

        &-nine::after {
            width: 90%;
        }
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: #c4c4c4;
        }
    }

    &__languages {
        display: flex;

        &-block {
            display: flex;
            align-items: flex-end;
            width: 50%;
        }
    }

    &__proficiency {
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        margin-right: 17px;

        &-russian {
            background-color: #0663C7;
            height: 120px;
        }

        &-azerbaijani {
            height: 108px;
            background-color: #6BB7FF;
        }

        &-english {
            height: 83px;
            background-color: lighten(#6BB7FF, 10%);
        }

        &-spain {
            height: 25px;
            background-color: lighten(#6BB7FF, 12%);
        }
    }
}

.socials {
    &__holder {
        flex-direction: column;
        padding: 15px;
    }

    &__icons {
        text-align: center;
    }

    &__item {
        margin-right: 7px;
    }

    &__icon {
        color: #acb6ff;
        transition: 0.3s;

        &:hover {
            color: #576cff;
            transition: 0.3s;
        }
    }
}